<%= stylesheet_link_tag 'application', media: 'all' %>
<div class="container">
    <div class="header">
        <%= image_tag('title_img.png', class: 'title-image') %>
        <%= image_tag('head_img.png', class: 'corner-image') %>
    </div>
    <h1>Scoreboard</h1>
    <div class="main">
    
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.points %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
        
    </div>
</div>